{% extends 'base.html' %}


{% block page_content %}
{{ super() }}
<h1 id="我的信息"><a href="#我的信息" class="headerlink" title="我的信息"></a>我的信息</h1>
<ul>
    <li>性别：男</li>
    <li>生年：93</li>
    <li>邮箱地址：woodenrobot@163.com</li>
</ul>
<hr>
<h1 id="技能"><a href="#技能" class="headerlink" title="技能"></a>技能</h1>
<ul>
    <li>程序语言：Python</li>
    <li>数据库：MongoDB</li>
    <li>版本管理：Git</li>
    <li>开发工具：Pycharm</li>
</ul>
<hr>
<h1 id="爱好"><a href="#爱好" class="headerlink" title="爱好"></a>爱好</h1>
<ul>
    <li>篮球</li>
    <li>骑行</li>
    <li>Popping</li>
    <li>纪录片</li>
    <li>看书</li>
</ul>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
{% endblock %}